
.firstCol {
  width:15vw;
align-self: center;

}

.secondCol{
  width:25vw;
  
}

ol > li {
  margin-bottom:10px;
}

.imgTagCol {
  width:11vw;
align-self: center;

}


.datepicker-borderless {
  border: none;
}

.cardss{
  width: 50% !important;
}

@media (max-width: 600px) {
  .table td {
      font-size: 0.8rem;
      
  }
  .cardss{
    width: 100% !important;
  }
}
@media (min-width: 601px) and (max-width: 1200px) {
  .table td {
      font-size: 1rem;
  }
}
@media (min-width: 1201px) {
  .table td {
      font-size: 1.2rem;
  }
}
